.button {
  width: 100%;
  background: darkblue;
  color: #FFF;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
  border-radius: 6px;
}

.button:disabled {
  background: #888;
  cursor: not-allowed;
}